@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background: linear-gradient(to top, #6af58f, #fff);
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

.pokedex {
  width: 100%;
}

.pokemon_image {
  position: absolute;
  bottom: 50%;
  left: 29%;
  transform: translate(-60%, 35%);
  height: 22%;
}

.pokemon_data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 61.5%;
  right: 58%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name {
  color: #3a444d;
  text-transform: capitalize;
}

.form {
  position: absolute;
  width: 36%;
  top: 72%;
  left:9%;
}

.input_search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
}

.buttons {
  position: absolute;
  bottom: 10%;
  left: 29.5%;
  width: 36%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

.info{
  height: 59%;
  width: 35%;
  background-color: white;
  border-radius: 10px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  position: absolute;
  bottom:10%;
  left: 78%;
  transform: translate(-57%, 0);
  border: 2px solid #333;
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

